@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    max-width: 1280px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  position: absolute;
  clip-path: inset(100%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.page-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

/*.main-header {
    display: flex;
    max-height: 64px;
    max-width: 1060px;
    margin: 0 auto;
}*/

.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

.main-header-container {
    display: flex;
    width: 1060px;
    max-height: 64px;
    justify-content: center;
    margin-bottom: 0;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
}

.header-logo {
    margin-right: 28px;
    z-index: 1;
}

.header-navigation-list {
  display: flex;
  width: 339px;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-user-list {
    display: flex;
    width: 268px;
    margin: 0 0 0 auto;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
}

ul {
    list-style-type: none;
}

.header-navigation-link {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    padding: 20px 16px;

}

.navigation-user-link {
    display: block;
    padding: 22px 12px;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.button-primary {
    color: #FFFFFF;
    background-color: #756157;
}

.navigation-user-button {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 34px;
}

.main-container {
    flex-grow: 1;
    text-align: center;
}

.hero {
    background-color: #000000;
    background-image: url("../images/backgrounds/main-background.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 82px;
}

.main-logo {
    display: block;
    margin: 0 auto;
}

.advantages-header {
    padding-top: 69px;
    min-height: 282px;
}

.advantages-title {
    width: 620px;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.advantages-item {
    display: flex;
}

.advantages-card {
    width: 400px;
    max-height: 385px;
    padding: 102px 85px;
    margin: 0;
}

.advantages-image {
    min-height: 100%;
}

.title-h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

.text-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
}

.advantages-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 62px;
    max-width: 175px;
}

.advantages-card-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.advantages-card-bright {
    background-color: #82B3D3;
}

.advantages-card-bright h3, .advantages-card-bright p {
    color: #FFFFFF;
}

.advantages-card-light {
    background-color: #83B3D31F;
}

.advantages-card-medium {
    background-color: #83B3D333;
}

.services-header {
    padding-top: 64px;
    min-height: 246px;
}

.services-title {
    width: 505px;
    margin: 0 auto;
}

.services-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.services-card {
    padding: 81px 85px;
    max-width: 400px;
}

.services-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

.services-card-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.services-card-medium {
    background-color: #83B3D31F;
}

.services-card-light {
    background-color: #FFFFFF;
}

.hotel-search {
    max-height: 406px;
}

.hotel-search-container {
    padding: 96px;
}

.hotel-search-description {
    margin-bottom: 54px;
}

.button-hotel-search {
    padding: 8px 50px;
}

.newsletter-main {
    background-image: url("../images/backgrounds/newsletter-background.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.newsletter-main-container {
    padding: 96px 258px;
    margin-top: 0;
}

.newsletter-title {
    color: #FFFFFF;
}

.newsletter-description {
    color: #FFFFFF;
    width: 475px;
    margin: 0 auto;
}

.newsletter-form {
  display: flex;
}

.newsletter-form-container {
    margin-top: 54px;
    align-items: center;
}

.newsletter-field {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    width: 452px;
    height: 52px;
}

.button-secondary {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.button-secondary-newsletter {
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;
    margin-left: 0;
}

.main-footer {
    min-height: 120px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1060px;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* можно отцентровать каждый элемент без паддингов, задать ширину и высоту флексу?*/
.social-list {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}


.social-link-vkontakte {
    display: block;
    padding: 13px 12px;
}

.social-link-telegram {
    display: block;
    padding: 12px 15px;
}

.social-link-youtube {
    display: block;
    padding: 12px 13px;
}

.footer-address-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-style: normal;
}

.filters {
    background-image: url("../images/backgrounds/filters-background.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

fieldset {
    border:0 none;
}

.filters-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.filters-group-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.filters-control-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.filters-price-form input {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
}

.button-apply {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.button-reset {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: transparent;
}

.result-hotels {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.sort-buttons-link {
    border: 2px solid #E5E5E5;
}

.sort-buttons-link-current {
    border: 2px solid #000000;
}

.hotel-card {
    border: 1px solid #E6E6E6;
}

.hotel-card-title a {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}

.hotel-card-details {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-card-button {
    font-size: 16px;
    line-height: 20px;
}

.button-active {
    background-color: #7DB54F;
}

.hotel-card-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-more {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;
}

.newsletter {
    min-height: 414.86px;
}
.newsletter .newsletter-title, .newsletter .newsletter-description {
    color: #000000;
    text-align: center;
}
